<style>
	.message-content {
		font-family: Arial, Helvetica, sans-serif;
		max-width: 600px;
		font-size: 18px;
		line-height: 21px;
	}
</style>

<div class="message-content">
	<p>Hello, {{name}}</p>
	<p>It looks like a password recovery for your account has been requested.</p>
	<p>If was you, <a href="{{link}}">click here</a> or in the link bellow to reset your password: </p>
	<p>
		<a href="{{link}}">{{link}}</a>
	</p>
	<p>If wasnt you, discart the e-mail.</p>

	<p>
		Cheers,<br />
		<strong>GoBarber Team</strong>
	</p>
</div>
